body.night{

}
body.night iframe body{}
body.night ul.sub-tabs,
body.night div#panel{
	background-color: #192837;
    color: #d3d4d4;
}
body.night div.sub-tabs-content,
body.night ul.sub-tabs li{
    background-color: #192837;    
    color: #d3d4d4;
}
body.night ul.sub-tabs li.ui-state-active{
	background-color: #101c29;
}
body.night div.sub-tab-notice{
	color: #f3f3f3;
    background-color: #0a121b !important;
}
body.night div.sub-tabs-content{}