body.night{}
body.night ul.sub-tabs,
body.night div#panel{
	background-color: #192837;
    color: #d3d4d4;
}
body.night div.sub-tabs-content,
body.night ul.sub-tabs li{
    background-color: #192837;    
    color: #d3d4d4;
}
body.night ul.sub-tabs li{
	border: 0px;
}
body.night ul.sub-tabs li.ui-state-active{
	background-color: #101c29;
	border-left: 1px solid #CCCCCC;
}
body.night div.sub-tab-notice{
	color: #f3f3f3;
    background-color: #0a121b !important;
}
body.night div.sub-tabs-content{}

body.night div.sub-tabs-content div.input{
	color: #fff;
    cursor: default;
    background-color: #4e6071;
    border: 1px solid #000;
}
body.night div.sub-tabs-content div.tooltip-button,
body.night div.sub-tabs-content div.input label,
body.night textarea,
body.night input[type="text"],
body.night input[type="password"],
body.night input[type="email"],
body.night input[type="number"],
body.night input[type="search"],
body.night input[type="tel"], input[type="url"]{
	color: #f3f3f3;
}
body.night textarea,
body.night input[type="text"],
body.night input[type="password"],
body.night input[type="email"],
body.night input[type="number"],
body.night input[type="search"],
body.night input[type="tel"], input[type="url"]{
	background-color: #c3e4f7;
    color: #000;
}
body.night div.input-slider-bar div.ui-slider-range{
	background-color: #4fa1d0;
}
body.night .input.input-heading{
    border: 0px;
}
body.night div.sub-tabs-content .options-heading,
body.night div#side-panel-container div#side-panel div#side-panel-bottom,
body.night div.design-editor-info{
	background-color: #192837;
    color: #d3d4d4;
    border: 0px;
}
body.night ul#element-selector-tabs,
body.night div#side-panel-container div#side-panel{
    background-color: #192837;
}
body.night ul#design-editor-element-selector,
body.night ul#design-editor-element-selector li.element-group > span.element-group-name,
body.night ul#design-editor-element-selector li.element-group > .description{
    color: #d3d4d4;
}
body.night ul#design-editor-element-selector li > span.element-name:hover,
body.night ul#design-editor-element-selector li.element-just-selected > span.element-name{
    color: #fff;
    cursor: default;
    background-color: #4e6071;
    border: 1px solid #000;
}
body.night div.design-editor-info div.design-editor-selection > strong,
body.night div.design-editor-info div.design-editor-selection span.design-editor-selection-details,
body.night div.design-editor-info div.design-editor-selection span.design-editor-selection-details strong{
    color: #d3d4d4;
}
body.night div.design-editor-box.design-editor-box-open span.design-editor-box-title{
    background-color: #4e6071;
    color: #fff;
}
body.night ul.design-editor-box-content,
body.night ul.design-editor-box-content > li{
    background-color: #4e6071;
    color: #fff;
}
body.night ul.design-editor-box-content > li > strong{
    color: #d3d4d4;   
}
body.night div.design-editor-box span.design-editor-box-title:hover{

}