@charset "UTF-8";
/* Variables */
/* Icon Font */
@font-face {
	font-family: "padma-ve";
	src: local("☺"), url("../font/padma-ve.woff"), url("../font/padma-ve.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.icon-plus:before {
	content: "\3d";
}

/* '=' */
.icon-minus:before {
	content: "\5f";
}

/* '_' */
.icon-up-dir:before {
	content: "\68";
}

/* 'h' */
.icon-right-dir:before {
	content: "\69";
}

/* 'i' */
.icon-down-dir:before {
	content: "\64";
}

/* 'd' */
.icon-left-dir:before {
	content: "\65";
}

/* 'e' */
.icon-list:before {
	content: "\45";
}

/* 'E' */
.icon-cog:before {
	content: "\33";
}

/* '3' */
.icon-cogs:before {
	content: "\30";
}

/* '0' */
.icon-edit:before {
	content: "\34";
}

/* '4' */
.icon-checkmark:before {
	content: "\32";
}

/* '2' */
.icon-plus-circle:before {
	content: "\2b";
}

/* '+' */
.icon-minus-solid-circle:before {
	content: "\2d";
}

/* '-' */
.icon-x-circle:before {
	content: "\58";
}

/* 'X' */
.icon-help-solid-circle:before {
	content: "\3f";
}

/* '?' */
.icon-grid:before {
	content: "\31";
}

/* '1' */
.icon-eye:before {
	content: "\25be";
}

/* '▾' */
.icon-down-open:before {
	content: "\67";
}

/* 'g' */
.icon-left-open:before {
	content: "\62";
}

/* 'b' */
.icon-right-open:before {
	content: "\3e";
}

/* '&gt;' */
.icon-up-open:before {
	content: "\5e";
}

/* '^' */
.icon-arrows-cw:before {
	content: "\72";
}

/* 'r' */
.icon-equalizer:before {
	content: "\61";
}

/* 'a' */
.icon-brush:before {
	content: "\63";
}

/* 'c' */
.icon-cancel-alt:before {
	content: "\78";
}

/* 'x' */
.icon-pictures:before {
	content: "\66";
}

/* 'f' */
.icon-attach:before {
	content: "\36";
}

/* '6' */
.icon-link:before {
	content: "\35";
}

/* '5' */
.icon-checkmark-sharp:before {
	content: "\74";
}

/* 't' */
.icon-copy:before {
	content: "\6c";
}

/* 'l' */
.icon-loop:before {
	content: "\a8";
}

/* '¨' */
.icon-remove:before {
	content: "\70";
}

/* 'p' */
.icon-plus-sharp:before {
	content: "\a7";
}

/* '§' */
.icon-insert-template:before {
	content: "\37";
}

/* '7' */
.icon-cloud-download:before {
	content: "\38";
}

/* '8' */
/* Corners */
/* Highlighting */
/* Box Sizing */
/* Anti-aliasing */
/* Transition */
/* Body Overlay */
div#ve-loading-overlay {
	position: fixed;
	background: #EEEEEE;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999;
	opacity: 1;
	-webkit-transition: opacity 150ms linear;
	transition: opacity 150ms linear;
}

/* Loading */
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-ms-keyframes spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes spinReverse {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
	}
}

@-moz-keyframes spinReverse {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(-360deg);
	}
}

@-ms-keyframes spinReverse {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(-360deg);
	}
}

div.cog-container {
	position: absolute;
	opacity: 0.8;
	top: 50%;
	left: 50%;
	width: 1px;
	/* Width and height keep jQuery :visible from return false */
	height: 1px;
	margin: -10px 0 0 -25px;
	-webkit-filter: brightness(80%);
	filter: brightness(80%);
	overflow: visible !important;
}

div.panel div.cog-container {
	margin-top: 15px;
}

div.cog-container div {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZGF0YS1pY29uPSJjb2ciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiBjbGFzcz0iaWNvbmljIGljb25pYy1jb2cgaWNvbmljLW9yaWVudGF0aW9uLXNxdWFyZSIgdmlld0JveD0iMCAwIDEyOCAxMjgiPgogIDxnIGRhdGEtd2lkdGg9IjEyOCIgZGF0YS1oZWlnaHQ9IjEyOCIgY2xhc3M9Imljb25pYy1sZyIgZGlzcGxheT0iaW5saW5lIj4KICAgIDxwYXRoIGQ9Ik0xMjggNzMuOXYtMTkuOWwtMTQuMy0zLjZjLTEuMi00LjItMi44LTguMy01LTEybDcuNS0xMi43LTE0LjEtMTQuMS0xMi43IDcuNmMtMy43LTIuMS03LjgtMy44LTEyLTVsLTMuNS0xNC4yaC0xOS45bC0zLjYgMTQuM2MtNC4yIDEuMi04LjMgMi44LTEyIDVsLTEyLjctNy41LTE0IDE0IDcuNiAxMi43Yy0yLjEgMy43LTMuOCA3LjgtNSAxMmwtMTQuMyAzLjZ2MTkuOWwxNC4zIDMuNmMxLjIgNC4yIDIuOCA4LjMgNSAxMmwtNy41IDEyLjcgMTQuMSAxNC4xIDEyLjctNy42YzMuNyAyLjEgNy44IDMuOCAxMiA1bDMuNyAxNC4zaDE5LjdsMy42LTE0LjNjNC4yLTEuMiA4LjMtMi44IDEyLTVsMTIuNyA3LjUgMTQuMS0xNC4xLTcuNi0xMi43YzIuMS0zLjcgMy44LTcuOCA1LTEybDE0LjItMy42em0tNjQgMjQuMWMtMTguOCAwLTM0LTE1LjItMzQtMzRzMTUuMi0zNCAzNC0zNCAzNCAxNS4yIDM0IDM0LTE1LjIgMzQtMzQgMzR6IgogICAgY2xhc3M9Imljb25pYy1jb2ctYm9keSBpY29uaWMtZWxlbWVudC1maWxsIiAvPgogIDwvZz4KPC9zdmc+);
}

div.cog-container div.cog-bottom-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	display: block;
	-webkit-animation: spin 3000ms infinite linear;
	-moz-animation: spin 3000ms infinite linear;
	animation: spin 3000ms infinite linear;
	background-size: 36px;
	background-repeat: none;
}

div.cog-container div.cog-top-right {
	position: absolute;
	top: -21px;
	left: 21px;
	width: 28px;
	height: 28px;
	display: block;
	-webkit-animation: spinReverse 3000ms infinite linear;
	-moz-animation: spinReverse 3000ms infinite linear;
	animation: spinReverse 3000ms infinite linear;
	background-size: 28px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZGF0YS1pY29uPSJjb2ciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgY2xhc3M9Imljb25pYyBpY29uaWMtY29nIGljb25pYy1vcmllbnRhdGlvbi1zcXVhcmUiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHRpdGxlPkNvZzwvdGl0bGU+CiAgPGcgZGF0YS13aWR0aD0iMTYiIGRhdGEtaGVpZ2h0PSIxNiIgY2xhc3M9Imljb25pYy1zbSI+CiAgICA8cGF0aCBkPSJNMTYgOXYtMmwtMi0xYy0uMS0uMy0uMi0uNi0uNC0uOWwuOS0yLjEtMS41LTEuNS0yLjEuOC0uOS0uMy0xLTJoLTJsLTEgMi0uOS4zLTIuMS0uOC0xLjUgMS41LjggMi4xLS4zLjktMiAxdjJsMiAxYy4xLjMuMi42LjQuOWwtLjkgMi4xIDEuNSAxLjUgMi4xLS44LjkuMyAxIDJoMmwxLTJjLjMtLjEuNi0uMi45LS40bDIuMS44IDEuNS0xLjUtLjgtMi4xLjQtLjkgMS45LS45em0tOCAyYy0xLjcgMC0zLTEuMy0zLTNzMS4zLTMgMy0zIDMgMS4zIDMgMy0xLjMgMy0zIDN6IgogICAgY2xhc3M9Imljb25pYy1jb2ctYm9keSBpY29uaWMtZWxlbWVudC1maWxsIiAvPgogIDwvZz4KPC9zdmc+);
}

/* iframe sizing */
div#iframe-container {
	width: auto;
	height: auto;
	top: 35px;
	bottom: 260px;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	position: fixed;
	opacity: 0;
}

iframe.content {
	width: 100%;
	height: 100%;
}

body.visual-editor-mode-design:not(.side-panel-hidden) div#iframe-container {
	right: 290px !important;
}

/* Tooltips */
.qtip {
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 400px;
	min-width: 50px;
	font-size: 10.5px;
	line-height: 12px;
	z-index: 15000;
	font-family: "Open Sans", sans-serif;
}

/* Hide disabled tooltips */
.qtip[aria-disabled="true"] {
	display: none !important;
}

.qtip-content {
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
}

.qtip-content strong {
	font-weight: bold;
}

.qtip-content em {
	font-style: italic;
}

.qtip-content ul {
	margin: 5px 0;
	padding: 0 5px 0 30px;
	list-style: disc;
}

.qtip-titlebar {
	position: relative;
	min-height: 14px;
	padding: 5px 35px 5px 10px;
	overflow: hidden;
	border-width: 1px 1px 0;
	border-style: solid;
	font-weight: bold;
}

.qtip-titlebar + .qtip-content {
	border-top-width: 0 !important;
}

/*! Default close button class */
.qtip-titlebar .ui-state-default {
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -9px;
	cursor: pointer;
	outline: medium none;
	border-width: 1px;
	border-style: solid;
}

* html .qtip-titlebar .ui-state-default {
	top: 16px;
}

/* IE fix */
.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
	display: block;
	text-indent: -1000em;
}

.qtip-icon,
.qtip-icon .ui-icon {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.qtip-icon .ui-icon {
	width: 18px;
	height: 14px;
	text-align: center;
	color: inherit;
	background: transparent none no-repeat -100em -100em;
}

/* Tips plugin */
.qtip .qtip-tip {
	margin: 0 auto;
	overflow: hidden;
	background: transparent;
	border: 0 dashed transparent !important;
	z-index: 10;
}

.qtip .qtip-tip,
.qtip .qtip-tip * {
	position: absolute;
	line-height: 0.1px !important;
	font-size: 0.1px !important;
	color: #123456;
	background: transparent;
	border: 0 dashed transparent;
}

.qtip .qtip-tip canvas {
	top: 0;
	left: 0;
}

/* Padma Tooltips */
div.qtip-padma div.qtip-content {
	background: #313131;
	color: #DDDDDD;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 8px 12px;
	font-size: 13px;
	line-height: 20px;
}

/* Element Selector */
div.qtip-padma-element-selector div.qtip-content {
	background: #57595A;
	padding: 3px 6px;
}

/* Inspector */
div.qtip-inspector-tooltip {
	opacity: 0.8 !important;
	pointer-events: none;
}

div.qtip-inspector-tooltip span.inspector-tooltip-instance {
	display: block;
	text-align: center;
	font-size: 11px;
	height: 14px;
	line-height: 14px;
}

div.qtip-inspector-tooltip small.right-click-message {
	display: block;
	text-align: center;
	opacity: 0.7;
	margin-top: 3px;
	font-size: 11px;
	line-height: 11px;
}

/* Block Dimensions */
div.qtip-block-dimensions {
	opacity: 0.8 !important;
}

div.qtip-block-dimensions div.qtip-content,
div.qtip-block-dimensions div.qtip-content * {
	font-size: 11px;
	line-height: 17px;
}

div.qtip-block-dimensions div.qtip-content div.block-info {
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	display: block;
	margin: 0 0 3px;
}

div.qtip-block-dimensions div.qtip-content span.block-info-type {
	background-image: url(../images/default-block-icon.png);
	background-position: 50%;
	background-size: 65%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 4px -5px 0;
}

div.qtip-block-dimensions div.qtip-content span.main-block-info-mirrored {
	opacity: 0.5;
}

div.qtip-block-dimensions div.qtip-content span.block-info-mirroring {
	display: inline-block;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	padding: 1px 6px;
	margin: 0 0 0 4px;
	clear: both;
}

div.qtip-block-dimensions div.qtip-content span.block-dimensions-separator {
	font-size: 13px;
	opacity: 0.8;
}

div.qtip-block-dimensions div.qtip-content small {
	font-size: 10px;
}

div.qtip-block-dimensions span.block-fluid-height-message,
div.qtip-block-dimensions span.right-click-message {
	display: block;
	text-align: center;
	opacity: 0.7;
}

/* General */
body {
	float: left;
	width: 100%;
}

* {
	user-select: none !important;
	-webkit-user-select: none !important;
}

/* Design Editor */
body:not(.inspector-disabled) .inspector-element-hover {
	outline: 1px solid #0EA8C7 !important;
	outline-offset: -1px;
}

body:not(.inspector-disabled) .inspector-element-selected {
	outline: 1px solid #EE7248 !important;
	outline-offset: -1px;
}

/* jQuery UI Staples */
.ui-resizable {
	position: relative;
}

.ui-resizable-handle {
	display: block;
	font-size: 0.1px;
	position: absolute;
	z-index: 10;
}

.ui-resizable-n {
	cursor: ns-resize;
	height: 15px;
	left: 0;
	top: -5px;
	width: 100%;
}

.ui-resizable-s {
	bottom: -5px;
	cursor: ns-resize;
	height: 15px;
	left: 0;
	width: 98%;
}

.ui-resizable-e {
	cursor: ew-resize;
	height: 98%;
	right: -5px;
	top: 0;
	width: 15px;
}

.ui-resizable-w {
	cursor: ew-resize;
	height: 100%;
	left: -5px;
	top: 0;
	width: 15px;
}

.ui-resizable-se {
	bottom: -5px;
	cursor: se-resize;
	height: 15px;
	right: -5px;
	width: 15px;
}

.ui-resizable-sw {
	bottom: -5px;
	cursor: sw-resize;
	height: 15px;
	left: -5px;
	width: 15px;
}

.ui-resizable-nw {
	top: -5px;
	cursor: nw-resize;
	height: 15px;
	left: -5px;
	width: 15px;
}

.dynamic-inline-edit{
	width: 100%;
    display: inline-block;  
}
.dynamic-inline-edit textarea{
	max-width: calc(100% - 60px);
	width: calc(100% - 60px);
	height: 100%;
    padding-left: 5px;
	display: inline-block;
	border: none;
    overflow: hidden;
	min-height: 27px;
    min-width: 30px;
	font-size: 16px !important;
}
.dynamic-inline-edit a{
    display: inline-block;
    width: 30px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
	border-top: 1px solid transparent;
	border-bottom: 2px solid transparent;
	float: right;
	font-size: 16px !important;
}
.dynamic-inline-edit a.cancel-edit{
	color: #fff;
	background-color: #ff5252;
}
.dynamic-inline-edit a.finish-edit{
	color: #fff;
	background-color: #2EA2CC;
}