#adminmenu li[class*="toplevel_page_blox"] .wp-menu-image img {
	width: 16px;
	height: 16px;
}

#customize-current-theme-link {
	display: none;
}

#blox-admin-notifications {
	position: fixed;
	top: 45px;
	right: 20px;
	z-index: 14;
}

#blox-admin-notifications div {
	min-width: 200px;
	max-width: 400px;
}