/* ADMIN META BOXES */
div.postbox tr.form-field input.check,
tr.form-field input.radio {
	width: 16px;
}
div.postbox table.padma-admin-meta-box tr.label:first-child th {
	padding: 10px 10px 3px 10px;
}
div.postbox table.padma-admin-meta-box tr.label {
	margin-top: 15px;
}
div.postbox table.padma-admin-meta-box tr.label th {
	padding: 20px 10px 3px 10px;
}
div.postbox table.padma-admin-meta-box tr.label th label {
	font-weight: bold;
	font-size: 14px;
	color: #444444;
}
div.postbox table.padma-admin-meta-box tr.description td {
	padding: 0 10px 10px;
}
div.postbox table.padma-admin-meta-box tr.description p {
	color: #777777;
	font-size: 11.5px;
	margin: -3px 0 0 5px !important;
}
div.postbox table.padma-admin-meta-box label.selectit {
	font-size: 12px;
	color: #333333;
}
div.postbox table.padma-admin-meta-box label.selectit input {
	margin: -4px 3px 0 0;
}
div.postbox table.padma-admin-meta-box input[type="text"],
div.postbox table.padma-admin-meta-box textarea {
	width: 100% !important;
}

div.postbox table.padma-admin-meta-box select {
	width: 90%;
}

div.postbox table.padma-admin-meta-box {
	margin-top: 10px;
}

div.postbox div.alert {
	margin: 15px 5px 0;
}

#poststuff div.postbox[id^="padma-admin-meta-box-"] h3.hndle {
	background: url(../images/padma-32.png);
	background-size: 16px;
	background-repeat: no-repeat;
	padding-left: 36px;
	background-position: 12px 50%;
}
/* END ADMIN META BOXES */

/* LIVE SEO PREVIEW */
#seo-preview {
	display: block;
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	margin: 10px 10px 0;
	padding: 8px;
	font-family: arial,sans-serif;
	color: #000000;
	font-size: 13px;
	width: 540px;
	clear: both;
}

#seo-preview h4 {
	text-decoration: underline;
	color: #1111CC;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	cursor: pointer;
}

#seo-preview p#seo-preview-description {
	line-height: 16px;
	margin: 2px 0 0;
	font-size: 13px;
	display: block;
	cursor: pointer;
}

#seo-preview p#seo-preview-bottom {
	color: #767676;
	margin: 0;
	font-size: 13px;
}

#seo-preview p#seo-preview-bottom span {
	color: #4272DB;
}

#seo-preview p#seo-preview-bottom span#seo-preview-url {
	color: #0E774A;
}

h4#seo-preview-title {
	color: #444444;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0 15px 10px;
	display: block;
	clear: both;
	float: left;
	vertical-align: middle;
}

small#seo-preview-disclaimer {
	color: #777777;
	margin: 5px 0 4px 12px;
	float: left;
	font-style: italic;
}
/* END LIVE SEO PREVIEW */